<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
   <style media="screen">
      div {
         width: 100%;
         height: auto;
      }
      img {
         width: 50%;
         height: 200px;
         border-radius: 10px;
         object-fit: contain;
         }
   </style>
</head>

<body>
   <img src="https://source.unsplash.com/random" alt="random image"/>
   <div class="company">
      {{#each data}}
         {{#each this as |value key|}}
            <p>{{key}}: {{value}}</p>
         {{/each}}
         <hr>
      {{/each}}
   </div>
   <!-- <script src="./app.js" charset="utf-8"></script> -->
   <script data-goatcounter="https://fitix.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
